<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
			<meta name="keywords" content="blog, buy, sell, buy and sell cashew, cashew, hub, club, cashew hub, cashew club, weekly, newsletter, mailing list, global news, raw cashew nut, shell, raw cashew nut in shell, cashew kernel, cnsl, cashew nut shell liquid, oil, petroleum, cardanol, residol, cashew husk, cashew rejection, marketplace, b2b, services, facilitator, shipping, container, customs house agent, cha, finance, invoice, insurance, warehouse space, on demand, mittal agros, mangalore, bangalore, kochi, kollam, tutikorin, vizag, panruti, chennai, palasa, jeypore, surat, industry, processing, erp, automation, india, vietnam, brazil, nigeria, ghana, ivc, benin, indonesia, guinea-bissau, madgascar, gambia, europe, americas, netherland, united states, russia, china">
			<meta name="author" content="Cashewhub">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="apple-touch-icon" sizes="76x76" href="/ico/icon76.png">
			<link rel="apple-touch-icon" sizes="120x120" href="/ico/icon120.png">
			<link rel="apple-touch-icon" sizes="152x152" href="/ico/icon152.png">
			<link rel="apple-touch-icon" sizes="167x167" href="/ico/icon167.png">
			<link rel="apple-touch-icon" sizes="180x180" href="/ico/icon180.png">
			<link rel="shortcut icon" href="/favicon.ico">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Blog</a></li>
	        		<li><a href="http://weekly.cashewhub.com/" target="_blank">Weekly</a></li>
		        	<li><a href="http://www.cashewhub.com/" target="_blank">Home</a></li>
		        	<li><a href="http://www.cashewhub.com/#about/" target="_blank">About</a></li>
              <li><a href="http://www.cashewhub.com/#contact/" target="_blank">Contact</a> </li>
              <li><a href="http://www.cashewhub.com/search/products/all/" target="_blank">Explore Products</a> </li>
	        		<li><a href="https://medium.com/cashewhub/" target="_blank">on Medium</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="http://www.cashewhub.com">Cashewhub.com</a> &copy; 2017. Proudly developed and operated in India (Bharat).</li> <br>
							<li style="color:#999;">Cashewhub, Cashewhub Logo are trademarks of Mittal Agros LLP.</li>
					</ul>
			</footer>
		</body>
	</html>
