<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Blog</a></li>
		        	<li><a href="http://www.cashewhub.com">Cashewhub.com</a></li>
		        	<li><a href="http://www.cashewhub.com/#about">About</a></li>
              <li><a href="http://www.cashewhub.com/#contact">Contact</a> </li>
              <li><a href="http://www.cashewhub.com/search/products/all">Explore Products</a> </li>
	        		<li><a href="https://medium.com/cashewhub" target="_blank">on Medium</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="http://www.cashewhub.com">cashewhub.com</a> &copy; 2016. Proudly developed and operated in India (Bharat).</li>
				</ul>
			</footer>
		</body>
	</html>
